{% extends "home.html" %}
{% load static %}
<!--todo: fix page routing to match page title/content -->
{% block title %} <title>Employees</title> {% endblock %}
{% block extra_head_content  %}
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        rel="stylesheet"
/>
<link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
/>
{% endblock %}

{% block content %}
<!--todo/html: display options to log/view hours .
    todo: leave comments
    todo: request time off -->
<div align="center" class="container-md" style="margin-top:100px;">
    <a class="btn btn-outline-secondary" href="employee/request_time_off">Request Time Off</a>
    <a class="btn btn-outline-secondary" href="#">Request New Supplies</a>
</div>
<div>
    <h3>Leave requests</h3>
</div>
<div>
    <ul>
    {%  for r in requests %}
        <li>{{r.comments}}</li>
    {%  endfor    %}
    </ul>
</div>
{% endblock %}
