<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee Manager</title>
    <link rel="stylesheet" type="text/css" href='{% static "/css/home.css" %}?{% now "U" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header>
    <!--insert logo and flex the left -->
    <h1 id="title">My Garden Employee Resource Manager</h1>
    <a id="email" href="webmaster@example.com">test_email@gmail.com</a>
    <p id="hours">Office Hours: Mon - Fri 5:00pm - 11:00pm</p>
    <h1 id="number" style="bold">(480) 552-8961</h1>
</header>
<nav>
    <ul id="links">
        <li id="nav-links"><a href="/home">Home</a></li>
        <li id="nav-links"><a href="/employee">Employees</a></li>
        <li id="nav-links"><a href="#contact">Jobs</a></li>
        <li id="nav-links"><a href="#about">About</a></li>
    </ul>
</nav>

<section>
    {% block content %}
    <h2>Employees</h2>
    <p>Displays employee data</p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for e in employees %}
        <tr>
            <td>{{e.first_name}}</td>
            <td>{{e.last_name}}</td>
            <td>{{e.email}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</section>
</body>
</html>