{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} <title>Request Off</title> {% endblock %}


    

{% block content %}
<script src="{% static 'js/datepicker.js' %}" type="text/javascript" async></script>
<div id="form-container" >
    <div id="directions">
        <h1 style="color: white;">Leave Request</h1>
        <p style="color: white;">Please leave a brief description of your request.</p>
    </div>

    <form id="sd" action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
    </form>


</div>
{% endblock %}