@charset "utf-8";


body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #96a396ab;

}




nav {
    background: #000000;
    text-align: center;

}
#links {
  list-style-type: none;
  margin: 6px;
  padding: 0;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

div#div_id_first_name label {
    color: white;
}

div#div_id_start_date label {
    color: white;
}

#nav-links {
	font-size: 2em;
}
#nav-links a {
	text-decoration: none;
	color: black;
	margin: 30px;
}

section {
	border: 2px solid rgb(233, 227, 229);
    border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	margin-bottom: auto;
	display: inline-block;
	margin: 5% 10% 0 10%;
	background-color: rgba(22, 117, 19, 0.87);


    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006d3b+28,f90018+46,f90018+51,f90018+67,f90018+67,f90018+67,ffffff+76 *//*
    background: #006d3b; *//* Old browsers *//*
    background: -moz-linear-gradient(top,  #006d3b 28%, #f90018 46%, #f90018 51%, #f90018 67%, #f90018 67%, #f90018 67%, #ffffff 76%); *//* FF3.6-15 *//*
    background: -webkit-linear-gradient(top,  #006d3b 28%,#f90018 46%,#f90018 51%,#f90018 67%,#f90018 67%,#f90018 67%,#ffffff 76%); *//* Chrome10-25,Safari5.1-6 *//*
    background: linear-gradient(to bottom,  #006d3b 28%,#f90018 46%,#f90018 51%,#f90018 67%,#f90018 67%,#f90018 67%,#ffffff 76%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006d3b', endColorstr='#ffffff',GradientType=0 ); *//* IE6-9 *//*
*/

    
}

#hp_title, #date_today {
    padding-top: 2px;
    color: white;
}

.table {
    background-color: #f2eff7;
    border: 1px solid black;
    box-shadow: 3px 10px 10px 0 #888888;
}


table tr {
    font-weight: bold;
    color:#0B0017;

}

.table thead th {
    color: white;
}


label {
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 18pt;
	font-weight: bold;
}


#formFields {
    padding: 50px;
	display: block;
	box-sizing: border-box;
	text-align: left;
    line-height: 1.6;
}

/* ===========================================  */
/*.container {
  width: 100%;
  height: 100vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

#form-container {
    margin-left: 0;


}

#leave-request-title {
   margin-top: 15px;
   color: #276393
}

#leave-list {
    list-style: none;
    margin-top:30px;
    padding: 0;
}

span.asteriskField {
    display: none;
}

.container {
    padding: 10px;
    
}